
@import '/src/styles/colors';
@import '/src/styles/fonts';
@import '/src/styles/variables';


.category{
	&_list{
		margin:  30px 50px;
		@include mobile{
			margin: 20px 30px;
		}
		.slick-arrow{
			height: 100%;
			width: 50px;
			transition: 0.3s;
			&::before{
				content: '';
			}
			&.slick-next{
				right: -50px;
				width: 0; 
				height: 0; 
				border-top: 100px solid transparent;
				border-bottom: 100px solid transparent;
				border-left: 40px solid rgba(white,0.3);
				&:hover{
				border-left-color: rgba(white,0.4);
				}
				@include mobile{
					right: -30px;
					border-top: 70px solid transparent;
					border-bottom: 70px solid transparent;
					border-left: 30px solid rgba(white,0.3);
				}
			}
			&.slick-prev{
				left: -50px;
				width: 0; 
				height: 0; 
				border-top: 100px solid transparent;
				border-bottom: 100px solid transparent;
				border-right: 40px solid rgba(white,0.3);
				&:hover{
					border-right-color: rgba(white,0.4);
				}
				@include mobile{
					left: -30px;
					border-top: 70px solid transparent;
					border-bottom: 70px solid transparent;
					border-right: 30px solid rgba(white,0.3);
				}
			}
		}
	}
	&_item{
		background-color: $dark-blue;
		padding: 20px;
		box-sizing: border-box;
		margin: 5px 10px;
		border-radius: 10px;
		&-link{
			display: block;
			text-decoration: none;
		}
		&-img{
			width: 100%;
			margin-top: 20px;
			transition: 0.3s;
			animation-timing-function: ease-in-out;
		}
		&-tap_to-open{
			font-family: $Mulish;
			font-style: normal;
			font-weight: 200;
			font-size: 16px;
			line-height: 110%;
			text-align: center;
			color: $gold-40;
			margin: 0;
			transition: 0.3s;
			opacity: 0;
		}
		&-name{
			font-family: $Mulish;
			font-style: normal;
			font-weight: 700;
			font-size: 32px;
			line-height: 110%;
			text-align: center;
			color: $gold;
			transition: 0.3s;
			animation-timing-function: ease-out;
			margin-bottom: 10px;
		}
		&:hover{
			img{
				transform: translateY(-20px) scale(0.9);
				opacity: 0.5;
			}
			h3{
				transform: translateY(-20px) scale(1.2);

			}
			p{
				opacity: 1;
			}
		}
	}
	&_page{

		
		.list_of_meals{
			display: grid;
			grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
			gap: 20px;
			
		}
		&_wrapper{
			@include container(95px);
		}
		
	}
	&_banner{
		display: flex;
		background: $dark-blue;
		border-radius: 10px;
		padding: 30px;
		
		@include mobile {
			flex-direction: column;
			padding: 15px;
		}
		img{
			@include mobile {
				width: 100%;
			}
		}
		&-content{
			display: flex;
			flex-direction: column;
			padding: 0px 50px;
			@include mobile {
				padding: 0;
			}
		}
		&-title{
		font-family: $Merriweather;
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 110%;
		color: $gold;
		margin-top: 0;
		}
		&-description{
			flex-grow: 1;
			font-family: $Mulish;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 120%;
			color: $gold;
			@include mobile {
				text-align: justify;
			}
		}
	}
}

.like{
	cursor: pointer;
}

//drop down category

.categories_dropdown{
	
	&_list{
		width: 150% ;
		height: 100vh;
		top: 100%;
		left: 100%;
		color: white;
		background-color: rgba($black-blue,0.8);
		position: absolute;
		padding: 20px 30px;
		padding-right: 100px;
		transition: 0.5s;
		overflow: auto;
		&.active{
		left: 50%;
		@include mobile{
			left: 0;
		}
		@include desctop{
			left: 80%;
		}
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
		}
		li{
			padding: 5px 0;
		}
		&-item{
			font-family: $Mulish;
			font-style: normal;
			font-weight: 700;
			font-size: 28px;
			line-height: 110%;
			text-align: center;
			color: $gold;
			text-decoration: none;
			transition: 0.2s;
			&:hover{
				color: $dark-gold;
			}
		}
	}
}