@import '/src/styles/colors';
@import '/src/styles/fonts';
@import '/src/styles/variables';

.category{
	&_filter{
		background-color: $dark-blue;
		border-radius: 50px;
		margin: 20px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include mobile {
			flex-direction: column;
			border-radius: 10px;
			align-items: stretch;
			gap: 20px;
			padding: 20px;
		}
		&_item{
			padding: 0 20px;
			&:nth-child(2){
				
				.select{
					.selected_value{
						z-index: 103;
					}
					.drop_down_box{
						z-index: 102;
					}
				}
			}
			&:first-child{
				padding: 0;
			}
			@include tablet{
				padding: 5px;
			}
			@include mobile{
				padding: 0;
			}
		}
	}
		
	
}

.category_search{
	&_wrapper{
		background: $black-blue;
		border-radius: 25px;
		padding-right: 15px;
		@include mobile {
			padding: 0;
		}
	}
	&_inner{
		width: 400px;
		border: 1px solid #FBDFA9;
		border-radius: 50px;
		justify-content: space-between;
		position: relative;
		@include mobile {
			width: 100%;
		}
		@include tablet {
			width: 270px;
		}
		&:hover{
			.button{
				inset: 0 0 0 calc(100%  - 125px);
				@include mobile{
					left: auto;
				}
				i{
					opacity: 1;
				}
			}
			input{
				&::placeholder{
					transition: 0.4s;
					color: white;
				}
				
				background-color: rgba($dark-blue,0.7);

			}
		}
		input{
			display: block;
			box-sizing: border-box;
			padding: 14px 25px;
			border-radius: 25px;
			width: 100% ;
			border:none;
			outline: none;
			background: transparent;
			font-family: $Mulish;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 23px;
			color: rgba(251, 255, 249, 0.5);
			transition: 0.4s;
			@include tablet {
				font-size: 14px;
			}
			@include mobile{
				padding: 10px 25px;
				font-size: 16px;
				line-height: 20px;
			}
			&::placeholder{
				transition: 0.4s;
				
			}
			&:focus{
				background-color: rgba($dark-blue,0.7);
				color: $dark-gold;
				&::placeholder{
					
					color: white;
				}
			}
		}
		.button{
			position: absolute;
			inset: 0 0 0 calc(100%  - 95px);
			transition: 0.5s;
			
			@include mobile{
				left: auto;
				&:hover{
					left: auto;
				}
			}
			i{
				@include mobile{
					opacity: 1!important;
   					font-size: 25px;
				}
			}
			.button-text{
				@include mobile{
					display: none;

				}
			}
		}
	}
}