@import '/src/styles/colors';
@import '/src/styles/fonts';
@import '/src/styles/variables';

h1.logo{
	margin: 0;
	a{
		font-family: $lora;
		font-weight: 600;
		font-size: 40px;
		line-height: 51px;
		color: $gold;
		text-decoration: none;
	}
	
}
header{
	background-color: transparent;
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px $page-padding;
	transition: 0.5s;
	&.scrolled{
		background-color: rgba($black-blue,0.9);
		
	}
	
	
	.burger{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-right: 5px;
		width: 24px;
		height: 24px;
		gap: 6px;
		
		.line{
			width: 24px;
			height: 2px;
			z-index: 10;
			display: block;
			border-radius: 4px;
			background-color: $black-blue;
			transform-origin: left;
			transition: 0.5s;
		}
		&.active{
			.line:first-child{
				transform: rotate(45deg);
			}
			.line:nth-child(2){
				opacity: 0;
			}
			.line:last-child{
				transform: rotate(-45deg);
			}
		}
	}

	
}