@import '/src/styles/colors';
@import '/src/styles/fonts';
@import '/src/styles/variables';

.home_baner{
	//width: 100%;
	height: 580px;
	margin: 0px calc($page-padding * -1) ;
	background-image: url(/img/baner.png);
	background-size: 100% ;
	background-position-y: -30px ;
	padding-top: 100px;
	box-sizing: border-box;
	&_title{
		margin: 0;
		font-family: $Merriweather;
		font-style: normal;
		font-weight: 400;
		font-size: 60px;
		line-height: 120%;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #FBDFA9;
	}
	.content{
		width: 520px;
		margin-left: $page-padding;
		height: 100%;
		padding: 50px 0;
	}
	.banner_search{
		margin-top: 60px;
		&_inner{
			display: flex;
			gap: 10px;
			isolation: isolate;
			border: 1px solid #FBDFA9;
			border-radius: 50px;
			justify-content: space-between;
			position: relative;
			&:hover{
				.button{
					inset: 0 0 0 calc(100%  - 125px);
					i{
						opacity: 1;
					}
				}
				input{
					&::placeholder{
						transition: 0.4s;
						color: white;
					}
					
					background-color: rgba(white,0.2);
				}
			}
			input{
				display: block;
				box-sizing: border-box;
				padding: 14px 25px;
				border-radius: 25px;
				width: 100% ;
				border:none;
				outline: none;
				background: transparent;
				font-family: $Mulish;
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 23px;
				color: rgba(251, 255, 249, 0.5);
				transition: 0.4s;
				&::placeholder{
					transition: 0.4s;
					
				}
				&:focus{
					background-color: rgba(white,0.5);
					color: $gold;
					&::placeholder{
						
						color: white;
					}
				}
			}
			.button{
				position: absolute;
				inset: 0 0 0 calc(100%  - 95px);
				transition: 0.5s;
				&:hover{
					
					& + input{
						
					}
				}
			}
		}
	}
}


h2.title{
	font-family: $Merriweather;
	font-style: normal;
	font-weight: 400;
	font-size: 42px;
	line-height: 120%;
	text-align: center;
	color: $gold;

}
.home_page{
	padding: 0 $page-padding;
}
//coutries
.countries_flags{
	
	color: white;
	margin-bottom: 60px;
	.country{
		padding: 10px;
		box-sizing: border-box;
		background: $dark-blue;
		border-radius: 10px;
		margin: 5px 10px;
		cursor: pointer;
		display: flex!important;
		width: auto!important;
		flex-direction: column;
		&:hover{
			border: 1px solid $gold-40;
		}
		&.current{
			border: 1px solid $gold;
			p{
				color: $gold;
			}
		}
	
		&_img-wrapper{
			box-shadow: 0 0  10px 2px $black-blue,
						inset 0 0 10px 5px $black-blue;
		}
		p{
			font-family: $Mulish;
			font-style: normal;
			font-weight: 300;
			font-size: 14px;
			line-height: 120%;
			color: #FBFFF9;
			margin: 10px 0 0 0;
			
			text-align: center;
		}
		img{
			width: 100%;
		}
	}
}

.recipes_by_coutries{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc(25% - 30px), 1fr));
	gap: 30px;
}