table{
	border-collapse: collapse;
	margin: 20px auto;
	td{
		border: 1px solid black;
		padding: 10px;
	}
}
.recipe{
	width: 80%;
	&_wrapper{	
		display: flex;
	}
}
//recipe_of_the_day

.recipe_of_the_day{
	color: white;
	
	margin: 0 auto;
	
}
//cart 

.recipe_full_cart{
	color: $gold;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	background-color: $dark-blue;
	&-wrapper{
		padding: 20px;
		border: 1px solid $gold;
		border-radius: 10px;
	}
	&-img-wrapper{
		
		img{
			width: 450px;
			display: block;
		}
	}
	&-content{
		display: flex;
		flex-direction: column;
		padding: 30px 50px;
	}
	&-title{
		font-family: $Merriweather;
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 110%;
		color: $gold;
		margin-top: 0;
		&-wrapper{
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}
	}
	&-description{
		flex-grow: 1;
		font-family: $Mulish;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 120%;
		color: $gold;
	}
	&-buttons{
		display: flex;
		align-items: center;
		gap: 20px;
	}
	&-flag{
		display: block;
		width: 50px;
		box-shadow: 0 0 10px 2px $black-blue, 
					inset 0 0 10px 5px $black-blue;
	}
}


.recipe_cart{
	overflow: hidden;
	background: $dark-blue;
	border-radius: 10px;
	transition: 0.3s;
	display: flex;
    flex-direction: column;
	&:hover{
		border: 1px solid $gold;
	}
	&-bottom{
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	&-title{
		font-family: $Mulish;
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 110%;
		color: $gold;
		margin: 20px 20px 30px 20px;
		flex-grow: 1;
	}
	&-buttons{
		display: flex;
		align-items: center;
		gap: 20px;
		margin: 0 auto 20px 20px;
	}
	&_img{
		width: 100%;
		display: block;
		&-wrapper{
			width: 100%;
			position: relative;
		}
	}
	&-flag{
		width: 100%;
		display: block;
		&-wrapper{
			position: absolute;
			width: 20px;
			top: 15px;
			left: 15px;
			box-shadow: 0 0 10px 2px #16141b, inset 0 0 10px 5px #16141b;
		}
	}
}