
@import '/src/styles/colors';
@import '/src/styles/fonts';
@import '/src/styles/variables';


table{
	border-collapse: collapse;
	margin: 20px auto;
	td{
		border: 1px solid black;
		padding: 10px;
	}
}
.recipe{
	
	&_wrapper{	
		
		@include container(100px);
		@include mobile{
			padding-bottom: 0;
			
		}
	}
}
//recipe_of_the_day

.recipe_of_the_day{
	color: white;
	
	margin: 0 auto;
	
}
//cart 

.recipe_full_cart{
	color: $gold;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	background-color: $dark-blue;
	@include mobile {
		flex-direction: column;
	}
	&-wrapper{
		padding: 20px;
		border: 1px solid $gold;
		border-radius: 10px;
		@include mobile {
			padding: 10px;
		}
	}
	&-img-wrapper{
		
		img{
			width: 450px;
			display: block;
			@include tablet {
				width: 400px;
			}
			@include mobile {
				width: 100%;
			}
		}
	}
	&-content{
		display: flex;
		flex-direction: column;
		padding: 30px 50px;
		@include mobile {
			padding: 20px 10px;
		}
	}
	&-title{
		font-family: $Merriweather;
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 110%;
		color: $gold;
		margin-top: 0;
		@include tablet {
			font-size: 30px;
		}
		@include mobile {
			font-size: 25px;
			margin-bottom: 0;
		}
		
		&-wrapper{
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			
		}
	}
	&-description{
		flex-grow: 1;
		font-family: $Mulish;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 120%;
		color: $gold;
		@include mobile {
			font-size: 15px;
		}
	}
	&-buttons{
		display: flex;
		align-items: center;
		gap: 20px;
		@include mobile {
			justify-content: space-between;
		}
	}
	&-flag{
		display: block;
		width: 50px;
		box-shadow: 0 0 10px 2px $black-blue, 
					inset 0 0 10px 5px $black-blue;
		@include mobile {
						width: 30px;
					}
				}
	
}


.recipe_cart{
	overflow: hidden;
	background: $dark-blue;
	border-radius: 10px;
	transition: 0.3s;
	display: flex;
    flex-direction: column;
	&:hover{
		border: 1px solid $gold;
	}
	&-bottom{
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	&-title{
		font-family: $Mulish;
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 110%;
		color: $gold;
		margin: 20px 20px 30px 20px;
		flex-grow: 1;
	}
	&-buttons{
		display: flex;
		align-items: center;
		
		gap: 20px;
		margin: 0 auto 20px 20px;
		@include mobile {
			margin: 0 20px 20px 20px;
			justify-content: space-between;
		}
	}
	&_img{
		width: 100%;
		display: block;
		&-wrapper{
			width: 100%;
			position: relative;
		}
	}
	&-flag{
		width: 100%;
		display: block;
		&-wrapper{
			position: absolute;
			width: 20px;
			top: 15px;
			left: 15px;
			box-shadow: 0 0 10px 2px #16141b, inset 0 0 10px 5px #16141b;
		}
	}
}

.head_info{
	border-radius: 10px;
	background: $dark-blue;
	flex-grow: 1;
	padding: 30px;
	display: flex;
	flex-direction: column;
	@include mobile {
		padding: 15px;
	}
	&_wrapper{
		display: flex;
		gap: 30px;
		@include mobile {
			flex-direction: column;	
		}
	}
	&_img{
		
		&_wrapper{
			
			
		}
		border-radius: 10px;
		height: 350px;
		@include mobile {
			height: auto;
			width: 100%;
		}
	}
	&_title{
		font-family: $Merriweather;
		font-style: normal;
		font-weight: 700;
		font-size: 50px;
		line-height: 110%;
		color: $gold;
		margin-top: 0;
		position: relative;
		padding-right: 60px;
		@include mobile {
			padding-right: 30px;
			font-size: 30px;
		}
		img{
			position: absolute;
			right: 0;
			top: 0;
			width: 60px;
			@include mobile {
				width: 30px;
			}
		}
	}
	.additional_info{
		display: flex;
		gap: 30px;
		@include mobile {
			flex-direction: column;
			gap: 10px;
		}
		&_item{
			font-family: $Mulish;
			font-style: normal;
			font-size: 18px;
			line-height: 120%;
			color: $gold;
			margin: 0;
			&_title{
				font-weight: 400;
			}
			&_value{
				font-weight: 900;
				padding-left: 5px;
			}
		}
	}
	&_buttons{
		flex-grow: 1;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		@include mobile {
			padding-top: 20px;
		}
	}
}

.switch{
	margin-top: 30px;
	&_buttons{
		display: flex;
		gap: 10px;
	}
	&_button{
		font-family: $Mulish;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 110%;
		text-align: center;
		color: $gold;
		width: 100%;
		background: rgba($dark-blue, 0.7);
		border-radius: 10px;
		padding: 22px 60px;
		cursor: pointer;
		outline: none;
		border: none;
		transition: 0.3s;
		position: relative;
		@include mobile {
			padding: 15px 10px;
			line-height: 16px;
			font-size: 16px;
		}
		&::after{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: -80%;
			left: 0;
			background: transparent;
		}
		&:hover{
			background: $dark-blue;
		}
		&.active{
			background: $dark-blue;
			color: $dark-gold;

			&::after{
				background: $dark-blue;
			}
		}
	}
	&_content{
		background: $dark-blue;
		padding: 60px;
		margin-top: 10px;
		border-radius: 10px;
		@include mobile {
			padding: 20px ;
		}
	}
}

.recipe_description{
	list-style-type: none;
	counter-reset: my-counter;
	margin: 0;
	border-left: 1px solid $gold;
	@include mobile {
		margin-left: 20px;
	}
	&.one{
		border: none;
		li:last-child{
			
			&::before{
				top: 0;
				bottom: auto;
			}
		}
	}
	li{
		counter-increment: my-awesome-counter;
		position: relative;
		font-family: $Mulish;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 120%;
		color: #FBFFF9;
		padding: 15px 0;
		@include mobile {
			font-size: 15px;
		}
		&:first-child{
			padding-top: 0;
		}
		&:last-child{
			padding-bottom: 0;
			&::before{
				bottom: 0;
			}
		}
		&::before{
			content: counter(my-awesome-counter,upper-roman);
			display: flex;
			align-items: center;
			justify-content: center;
			color: $gold;
			position: absolute;
			left: -62px;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			border: 1px solid $gold;
			background: $dark-blue;
			z-index: 20;
		}
		
	}
}

.recipe_video{
	height: 600px;
	width: 100%;
	border-radius: 10px;
	position: relative;
	z-index: 100;
	@include mobile{
		height: 300px;
	}
}

.ingredients{
	
	color: white;
	margin: -60px;
	background-color: $black-blue;
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: relative;
	z-index: 50;
	@include mobile {
		margin: -20px;
	}
	.ingredient{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 12%;
		font-family: $Mulish;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 120%;
		color: $gold;
		border-radius: 10px;
		padding: 10px 60px;
		background-color: $dark-blue;

		@include mobile {
			padding: 10px 20px;
			gap: 10px;
		}
		&_num{

		}
		&_img{

			img{
				@include mobile{
					width: 50px;
				}
			}
		}
		&_name{
			flex-grow: 1;
		}
		&_measure{

		}
	}
}