
@import '/src/styles/colors';
@import '/src/styles/fonts';
@import '/src/styles/variables';
.wish_list_page{
	padding: 100px $page-padding 20px $page-padding;
	display: flex;
	flex-direction: column;
	gap: 30px;
	min-height: 50vh;
	h1{
		font-family: $Mulish;
		font-style: normal;
		font-weight: 700;
		font-size: 60px;
		line-height: 110%;
		color: $dark-gold;
	}
}
.wish_list_item{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	img{
		height: 200px;
	}
}