@import '/src/styles/colors.scss';
@import '/src/styles/fonts.scss';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $black-blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import '/src/styles/buttons.scss';
@import '/src/styles/header.scss';
@import '/src/styles/home.scss';
@import '/src/styles/footer.scss';
@import '/src/styles/category.scss';
@import '/src/styles/recipe.scss';
@import '/src/styles/wishListPage.scss';
@import '/src/styles/sidebar.scss';
@import '/src/styles/categoryFilter.scss';
@import '/src/styles/selector.scss';
@import '/src/styles/preloaders.scss';


